<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="ur5e_gripper__hand_ros2_control">

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
                <param name="joint_commands_topic">/ur5e_joint_command</param>
                <param name="joint_states_topic">/ur5e_joint_states</param>
            </hardware>
            <joint name="robotiq_85_left_knuckle_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="robotiq_85_right_knuckle_joint">
                <param name="mimic">robotiq_85_left_knuckle_joint</param>
                <param name="multiplier">1</param>
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
